<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>空资源页面</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">
                <strong>空资源页面</strong>
            </li>
        </ol>
    </div>
    <!--<div class="col-sm-8">-->
        <!--<div class="title-action">-->
            <!--<a href="" class="btn btn-primary">友情提示</a>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h3 class="font-bold">友情提示</h3>
                对不起，您所请求的页面资源已被找到，但未捕捉到相关页面数据，请跳转至首页.
                <div class="error-desc">
                    <br/><a ui-sref="dashboard_1" class="btn btn-primary m-t">首页</a>
                </div>
            </div>
        </div>
    </div>
</div>