<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{rootTitle}}</a>
            </li>
            <li>
                <a>{{moduleTitle}}</a>
            </li>
            <li class="active">
                <strong>{{pageTitle}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>产品目录</h5>
                </div>
                <div class="ibox-content">
                   <agile-ztree src="productDir" check></agile-ztree>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>产品列表</h5>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                Class name
                            </th>
                            <th>
                                Example
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><code>.bg-muted</code></td>
                            <td><div class="bg-muted p-xs b-r-sm"> Example text</div> </td>
                        </tr>
                        <tr>
                            <td><code>.bg-primary</code></td>
                            <td><div class="bg-primary p-xs b-r-sm"> Example text</div> </td>
                        </tr>
                        <tr>
                            <td><code>.bg-success</code></td>
                            <td><div class="bg-success p-xs b-r-sm"> Example text</div> </td>
                        </tr>
                        <tr>
                            <td><code>.bg-info</code></td>
                            <td><div class="bg-info p-xs b-r-sm"> Example text</div> </td>
                        </tr>
                        <tr>
                            <td><code>.bg-warning</code></td>
                            <td><div class="bg-warning p-xs b-r-sm"> Example text</div> </td>
                        </tr>
                        <tr>
                            <td><code>.bg-danger</code></td>
                            <td><div class="bg-danger p-xs b-r-sm"> Example text</div> </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>