<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{rootTitle}}</a>
            </li>
            <li>
                <a>{{moduleTitle}}</a>
            </li>
            <li class="active">
                <strong>{{pageTitle}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">


                            <slick dots="true">

                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 1]
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 2]
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 3]
                                    </div>
                                </div>


                            </slick>

                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                小米Note2
                            </h2>
                            <small>5.7" 双曲面柔性屏，正反面 3D 曲面玻璃 / 2256万超高像素相机
                                骁龙821 性能版，可选 6GB + 128GB</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">3600 <small class="text-muted">不含税</small> </h2>
                            </div>
                            <hr>

                            <h4>产品描述</h4>

                            <div class="small text-muted">
                                双曲面的美，源自对屏幕科技的不断探索。小米Note 2 采用 OLED 柔性屏，
                                一块可以弯曲的屏幕*，贴合于艺术品般的曲面玻璃，更高屏占比让纤薄的机身，
                                拥有更大显示面积。画面仿佛在曲面流动，视觉也得到了更大的延展。

                                <br/>
                                <br/>
                                这依然是小米最快的安卓旗舰*！
                                骁龙821 性能版，高性能下再提速 10%。
                                可选 6GB +128GB 高速内存、闪存，进一步提升性能。
                                4070mAh 电池、高精度定位、HD 高清音质，
                                小米Note 2 不仅更快，更是方方面面全高端配置。
                            </div>
                            <dl class="small m-t-md">
                                <dt>数据来源</dt>
                                <dd>沃受理</dd>
                                <dt>产品状态</dt>
                                <dd>生效</dd>
                                <dt>成本价</dt>
                                <dd>2300</dd>
                            </dl>
                            <hr>

                            <!--<div>-->
                                <!--<div class="btn-group">-->
                                    <!--<button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>-->
                                    <!--<button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>-->
                                    <!--<button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>-->
                                <!--</div>-->
                            <!--</div>-->



                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                            <span class="pull-right">
                                入网时间 - <i class="fa fa-clock-o"></i> 2016.04.14 10:04
                            </span>
                    产品摘要
                </div>
            </div>

        </div>
    </div>

</div>